{% extends "base.html.j2" %}
{% from "macros.html.j2" import render_field %}


{% block content %}

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="card shadow ">
            <div class="card-header text-center">
                <h5>Login</h5>
            </div>
            <div class="card-body">
                <form action="" method="POST" class="needs-validation" novalidate>
                    {{ form.hidden_tag() }}

                    <div class="mb-3">
                        {{ render_field(form.username)}}
                    </div>

                    <div class="mb-3">
                        {{ render_field(form.password)}}
                    </div>

                    <div class="mb-3">
                        {{ form.remember_me }}
                        {{ form.remember_me.label(class="form-label") }}
                    </div>

                    <div class="d-grid gap-2 mb-3">
                        {{ form.submit(class="btn btn-primary") }}    
                    </div>     
                </form>
                <p class="text-center">New User? <a href="{{ url_for('auth.register') }}">Click to Register!</a></p>
            </div>
        </div>
    </div>
</div>


<script>

    ////////////////////////////////////////////////////////////////////////////////////////////////////
    // Bootstrap JavaScript styling for disabling form submissions if there are invalid fields.
    ////////////////////////////////////////////////////////////////////////////////////////////////////
    (() => {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to.
    const forms = document.querySelectorAll('.needs-validation')

    // Loop over forms, call validate functions, and prevent submission if needed.
    Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
        }

        form.classList.add('was-validated')
        }, false)
    })
    })()

</script>

{% endblock %}
