{% extends "base.html.j2" %}
{% from "includes/macros.html.j2" import render_field %}


{% block content %}

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="card shadow ">
            <div class="card-header text-center">
                <h5>Login</h5>
            </div>
            <div class="card-body">
                <form action="" method="POST" class="needs-validation" id="loginForm" novalidate>
                    {{ form.hidden_tag() }}

                    <div class="mb-3">
                        {{ render_field(form.username)}}
                    </div>

                    <div class="mb-3">
                        {{ render_field(form.password)}}
                    </div>

                    <div class="mb-3">
                        {{ form.remember_me }}
                        {{ form.remember_me.label(class="form-label") }}
                    </div>

                    <div class="d-grid gap-2 mb-3">
                        {{ form.submit(class="btn btn-primary") }}    
                    </div>     
                </form>
                <p class="text-center">New User? <a href="{{ url_for('auth.register') }}">Click to Register!</a></p>
            </div>
        </div>
    </div>
</div>


{% endblock %}


<!-- Page specific Javascripts -->
{% block extra_js %}
    <script src="{{ url_for('static', filename='assets/js/inputValidation.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
{% endblock extra_js %}
