{% extends 'base.html.j2' %}
{% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}


{% block content %}
    <h1>Log In</h1>
    <div class="row">
        <div class="col-md=4">
            <form action="" method="POST" novalidate>
                {{ form.hidden_tag() }}
                {{ render_form_row([form.username], col_map={'username': 'col-md-4'}) }}
                {{ render_form_row([form.password], col_map={'password': 'col-md-4'}) }}
                {{ render_field(form.remember_me) }}
                {{ render_field(form.submit) }}
            </form>
        </div>
    </div>
    
    <p>New User? <a href="{{ url_for('auth.register') }}">Click to Register!</a></p>
{% endblock %}
