{% extends 'base.html.j2' %}
{% from "macros.html.j2" import render_field %}


{% block content %}

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="card shadow ">
            <div class="card-header text-center">
                <h5>Register</h5>
            </div>
            <div class="card-body">
                <form action="" method="POST" class="needs-validation" novalidate>
                    {{ form.hidden_tag() }}

                    <div class="mb-3">
                        {{ render_field(form.username)}}
                    </div>

                    <div class="mb-3">
                        {{ render_field(form.email)}}
                    </div>

                    <div class="mb-3">
                        {{ render_field(form.password)}}
                    </div>

                    <div class="mb-3">
                        {{ render_field(form.password2)}}
                    </div>

                    <div class="d-grid gap-2 mb-3">
                        {{ form.submit(class="btn btn-primary") }}    
                    </div>     
                </form>
            </div>
        </div>
    </div>
</div>


<script>

    ////////////////////////////////////////////////////////////////////////////////////////////////////
    // Bootstrap JavaScript styling for disabling form submissions if there are invalid fields.
    ////////////////////////////////////////////////////////////////////////////////////////////////////
    (() => {
    'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to.
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over forms, call validate functions, and prevent submission if needed.
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                emailValidate();
                usernameValidate();

                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()


    ////////////////////////////////////////////////////////////////////////////////////////////////////
    // Make sure length of the username is at least 2 characters.
    ////////////////////////////////////////////////////////////////////////////////////////////////////
    function usernameValidate() {
        const username = document.getElementById('username');
        const minLength = 2;
        const isValid = username.value.length === 0 || username.value.length >= minLength;

        if(!isValid) {
            username.setCustomValidity('Invalid');
            username.nextElementSibling.textContent = 'Username is too short'
        }
        else {
            username.setCustomValidity('');
        }
        return isValid;
    }


    ////////////////////////////////////////////////////////////////////////////////////////////////////
    // Make sure the entered email address is a vaild email format
    ////////////////////////////////////////////////////////////////////////////////////////////////////
    function emailValidate() {
        const email = document.getElementById('email');
        const emailRegExp =
        /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;

        const isValid = email.value.length === 0 || emailRegExp.test(email.value);

        if(!isValid) {
            email.setCustomValidity('Invalid');
            email.nextElementSibling.textContent = 'Not a valid email format'
        }
        else {
            email.setCustomValidity('');
        }
        return isValid;
    }

</script>

{% endblock %}
