{% extends "base.html.j2" %}


{% block content %}

<div class="container text-center mb-5 mt-5">
    <h1>Page Not Found</h1>
    <a href="{{ url_for('home.index') }}">Back to Home</a>
</div>

{% endblock %}