{# SOURCE: https://wtforms.readthedocs.io/en/3.0.x/specific_problems/#jinja-macros-example#}

{% macro with_errors(field) %}
    <div class="form_field">
    {% if field.errors %}
        {% set css_class = 'has_error ' + kwargs.pop('class', '') %}
        {{ field(class=css_class, **kwargs) }}
        <ul class="errors">{% for error in field.errors %}<span style="color: red;">{{ error|e }}</span>{% endfor %}</ul>
    {% else %}
        {{ field(**kwargs) }}
    {% endif %}
    </div>
{% endmacro %}



{# EXAMPLE USAGE #}


{# {% from 'errors/form_errors.html.j2' import with_errors %} #}

{# 
<form action="" method="POST" class="row g-3" novalidate>
    <div class="col-md-4">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div>{{ form.username.label }}: {{ with_errors(form.username, class="form-control") }}</div>
        <div>{{ form.password.label }}: {{ with_errors(form.password, class="form-control") }}</div>
        <div>{{ form.remember_me() }} {{ form.remember_me.label }}</div>
        <div>{{ form.submit(class="btn btn-primary") }}</div>
    </div>
</form> 
#}