.mainParentContent {
  width: 100%;
  overflow: auto;
  margin: 0 auto;
  background: #d5d4d0;
}

.innerParentContent {
  width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  background: #fff;
  padding: 0 40px;
  box-shadow: 3px 5px 9px 5px darkgrey;
}

/* .nav-link:hover {
  color:#006400;
  border-bottom-color: rgba(22, 20, 20, 0.5);
}

.nav-link.active {
  color:#006400;
  border-bottom-color: rgba(22, 20, 20, 0.5);
} */
