.mainParentContent {
  max-width: 100%;
  overflow: auto;
  margin: 0 auto;
  background: #d5d4d0;
}

.innerParentContent {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  background: #fff;
  padding: 0 40px;
  box-shadow: 3px 5px 9px 5px darkgrey;
}

.navbar-brand {
  padding-top: 0px;
  padding-bottom: 3px;
  padding-right: 285px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 100px);
}

.search-page-title {
  grid-column: 2 / 3;
  grid-row: 1 / 1;
}

.new-customer-button {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.search-input-field {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
}

.customer-search-table {
  grid-column: 1 / 4;
  grid-row: 4 / 8;
}

.pagination-table {
  grid-column: 2 / 3;
  grid-row: 8 / 8;
}

.modal-title {
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 1.25rem;
}

.modal-header {
  cursor: move;
}

.toast-container {
  padding-top: 0px;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  right: 0px;
}

.toastNotification {
  background-color: whitesmoke !important;
  border: 1px solid rgb(4, 87, 41);
}
