.mainParentContent {
  max-width: 100%;
  overflow: auto;
  margin: 0 auto;
  background: #d5d4d0;
}

.innerParentContent {
  position: relative;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  background: #fff;
  padding: 0 40px;
  box-shadow: 3px 5px 9px 5px darkgrey;
}

/*=======================================*/
/*=== Navbar theme icon dropdown menu ===*/
/*=======================================*/
#theme-indicator {
  cursor: pointer;
}

.bi::before {
  vertical-align: unset;
}

.color-modes .dropdown-menu li+li {
  margin-top:.125rem
}

.color-modes .dropdown-item {
  border-radius:.25rem;
}

.color-modes .active {
  font-weight:600
}

.color-modes .active .bi {
  display:block !important
}

/*======================================*/
/*=== Footer ===*/
/*======================================*/
footer {
  display: flex;
  position: fixed;
  bottom: 0;
  height: 25px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.footer-contents {
  font-size: 14px;
}

/*======================================*/
/*=== Customer table & index page ===*/
/*======================================*/
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 100px);
}

.search-page-title {
  grid-column: 2 / 3;
  grid-row: 1 / 1;
}

.new-customer-button {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.search-input-field {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
}

.customer-search-table {
  grid-column: 1 / 4;
  grid-row: 4 / 8;
}

.pagination-table {
  grid-column: 2 / 3;
  grid-row: 8 / 8;
}

/*======================================*/
/*=== Modals ===*/
/*======================================*/
.modal-title {
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 1.25rem;
}

.modal-header {
  cursor: move;
}

/*======================================*/
/*=== Toast notifications ===*/
/*======================================*/
.toast-container {
  padding-top: 0px;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  right: 0px;
}

/*======================================*/
/*=== Bootstrap light mode overrides ===*/
/*======================================*/
[data-bs-theme="light"] .toastNotification {
  background-color: whitesmoke !important;
  border: 1px solid #045729;
}

[data-bs-theme="light"] .form-control,
[data-bs-theme="light"] .form-select {
  background-color: #f4f7fa;
}

[data-bs-theme="light"] .form-control:focus,
[data-bs-theme="light"] .form-select:focus {
  background-color: #f4f7fa;
}

[data-bs-theme="light"] .form-control::placeholder,
[data-bs-theme="light"] .form-select::placeholder {
  color: #aaaeb3;
  opacity: 1;
}

[data-bs-theme="light"] .form-control:disabled {
  background-color: #fff; 
}

/* ===  Override browser default input field color on autofill === */
[data-bs-theme="light"] input:-webkit-autofill,
[data-bs-theme="light"] input:-webkit-autofill:hover, 
[data-bs-theme="light"] input:-webkit-autofill:focus,
[data-bs-theme="light"] textarea:-webkit-autofill,
[data-bs-theme="light"] textarea:-webkit-autofill:hover,
[data-bs-theme="light"] textarea:-webkit-autofill:focus,
[data-bs-theme="light"] select:-webkit-autofill,
[data-bs-theme="light"] select:-webkit-autofill:hover,
[data-bs-theme="light"] select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #f4f7fa inset;
}
