.mainParentContent {
  max-width: 100%;
  overflow: auto;
  margin: 0 auto;
  background: #d5d4d0;
}

.innerParentContent {
  position: relative;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  background: #fff;
  padding: 0 40px;
  box-shadow: 3px 5px 9px 5px darkgrey;
}

/*=======================================*/
/*=== Navbar theme icon dropdown menu ===*/
/*=======================================*/
#theme-indicator {
  cursor: pointer;
}

.bi::before {
  vertical-align: unset;
}

.color-modes .dropdown-menu li+li {
  margin-top:.125rem
}

.color-modes .dropdown-item {
  border-radius:.25rem;
}

.color-modes .active {
  font-weight:600
}

.color-modes .active .bi {
  display:block !important
}

/*======================================*/
/*=== Footer ===*/
/*======================================*/
footer {
  display: flex;
  position: fixed;
  bottom: 0;
  height: 25px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.footer-contents {
  font-size: 14px;
}

/*======================================*/
/*=== Customer table & index page ===*/
/*======================================*/
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 100px);
}

.search-page-title {
  grid-column: 2 / 3;
  grid-row: 1 / 1;
}

.new-customer-button {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.search-input-field {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
}

.customer-search-table {
  grid-column: 1 / 4;
  grid-row: 4 / 8;
}

.pagination-table {
  grid-column: 2 / 3;
  grid-row: 8 / 8;
}

/*======================================*/
/*=== Modals ===*/
/*======================================*/
.modal-title {
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 1.25rem;
}

.modal-header {
  cursor: move;
}

/*======================================*/
/*=== Toast notifications ===*/
/*======================================*/
.toast-container {
  padding-top: 0px;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  right: 0px;
}

/*======================================*/
/*=== Admin Dashboard ===*/
/*======================================*/
#adminPageBody > .container-fluid {
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.model-list a {
  text-decoration: none;
}

.model-list th, .model-list tr {
  text-align: center;
}

.model-list form.icon {
  display: inline;
}

.model-list form.icon #deleteBtn {
  border: none;
  background: transparent;
  text-decoration: none;
  padding: 0;
  line-height: normal;
}

.model-list a.icon {
  text-decoration: none;
}

.icon {
  color: black;
}

.list-buttons-column {
  white-space: nowrap;
}

.nav-pills li > a {
  padding-right: 1rem;
}

#navPillRow {
  border-radius: 0.375rem;
  box-shadow:
  inset 0 -3em 3em rgb(245 245 245 / 30%),
  0.3em 0.3em 1em rgb(0 0 0 / 35%);
}

.nav-pills {
  padding: 5px;
  li.active {
    background-color: #0d6efd;
    border-radius: 0.375rem;
    a {
      color: #fff;
    }
  }
}

#adminPageBody + .nav-tabs {
  padding-bottom: 4px;
}

a.dropdown-toggle b.caret {
  margin-left: 5px;
}

.nav-item > .form-inline {
  margin-left: .5rem;
}

.form-inline {
  display: flex;
  align-items: center;
}

.form-control + .btn-secondary {
  margin-left: .5rem;
}

input[name~="search"]:focus {
  box-shadow: 0 0 0 .15rem rgba(13,110,253,.25);
}

input[name~="search"] {
  width: 50%;
}

.admin-form label+input, .admin-form label+select {
  width: 50%;
}

.admin-form label {
  padding-top: 1rem;
  padding-bottom: 5px;
}

.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-right: .1rem;
  margin-left: 5px;
  border-bottom-left-radius: 0.375rem;
  border-top-left-radius: 0.375rem;
}

.input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
  border-bottom-right-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}

/*======================================*/
/*=== Bootstrap light mode overrides ===*/
/*======================================*/
[data-bs-theme="light"] .toastNotification {
  background-color: whitesmoke !important;
  border: 1px solid #045729;
}

[data-bs-theme="light"] .form-control,
[data-bs-theme="light"] .form-select {
  background-color: #f4f7fa;
}

[data-bs-theme="light"] .form-control:focus,
[data-bs-theme="light"] .form-select:focus {
  background-color: #f4f7fa;
}

[data-bs-theme="light"] .form-control::placeholder,
[data-bs-theme="light"] .form-select::placeholder {
  color: #aaaeb3;
  opacity: 1;
}

[data-bs-theme="light"] .form-control:disabled {
  background-color: #fff; 
}

[data-bs-theme="light"] .model-list a {
  --bs-link-color-rgb: black;
}

[data-bs-theme="light"] .nav-link {
  --bs-nav-link-color: black;
}

/* ===  Override browser default input field color on autofill === */
[data-bs-theme="light"] input:-webkit-autofill,
[data-bs-theme="light"] input:-webkit-autofill:hover, 
[data-bs-theme="light"] input:-webkit-autofill:focus,
[data-bs-theme="light"] textarea:-webkit-autofill,
[data-bs-theme="light"] textarea:-webkit-autofill:hover,
[data-bs-theme="light"] textarea:-webkit-autofill:focus,
[data-bs-theme="light"] select:-webkit-autofill,
[data-bs-theme="light"] select:-webkit-autofill:hover,
[data-bs-theme="light"] select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #f4f7fa inset;
}
