{% block content %}

<div class="container text-center mb-5 mt-5">
    <span class="title"><h1>{% block title %} Memos {% endblock %}</h1></span>
</div>


<div class="content">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr class="text-left">
                <th>Memos</th>
            </tr>
        </thead>
        <tbody id="customers">
                <tr class="text-center">
                    <td> Placeholder Memo</td>
                </tr>
                <tr class="text-center">
                    <td> Placeholder Memo 2</td>
                </tr>
                <tr class="text-center">
                    <td> Placeholder Memo 3</td>
                </tr>
                <tr class="text-center">
                    <td> Placeholder Memo 4</td>
                </tr>
        </tbody>
    </table>
</div>

{% endblock %}