{% from "includes/macros.html.j2" import render_field %}


{% block content %}

<div class="container text-center mb-5 mt-5">
    <span class="title"><h1>{% block title %} Summary {% endblock %}</h1></span>
</div>


<form action="" method="POST" class="needs-validation" id="editCustomerForm" novalidate>
    <div class="row mt-5">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-header text-center">
                <h5><b>Name & Address</b></h5>
            </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ render_field(form.name, disabled="true")}}</li>
                <li class="list-group-item">{{ render_field(form.street, disabled="true")}}</li>
                <li class="list-group-item">{{ render_field(form.city, disabled="true")}}</li>
                <li class="list-group-item">{{ render_field(form.state, disabled="true")}}</li>
                <li class="list-group-item">{{ render_field(form.zip, disabled="true")}}</li>
            </ul>
        </div>
        </div>
    </div>
    {# Second card #}
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header text-center">
                <h5><b>Contact</b></h5>
            </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ render_field(form.phone_number, maxlength="13", disabled="true")}}</li>
                <li class="list-group-item">{{ render_field(form.email, disabled="true")}}</li>
            </ul>
        </div>
        </div>
    </div>
    {# End Row #}
    </div>

    <div class="container text-center mt-5">
        <button type="button" class="btn btn-primary" id="editButton" data-edit="{{ url_for('customer.edit', Id=customer.id)}}">Edit</button>
        <button type="button" class="btn btn-primary" id="closeButton">Close</button>
    </div>
</form>


{% endblock %}

<!-- Page specific Javascripts -->
{% block extra_js %}
    <script src="{{ url_for('static', filename='assets/js/inputValidation.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
{% endblock extra_js %}
