{% extends 'base.html.j2' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<span class="title"><h1>{% block title %} The {{ customer.name }} Detail Page {% endblock %}</h1></span>
<div class="content">
    <table id= "customer-table" border="1" cellpadding="5">
        <thead>
            <tr>
                {% for column_name in column_names.keys() %}
                    <th>{{ column_name }}</th>
                {% endfor %}
            </tr>
        </thead>
    <tbody>
        <div class="customer">
            <tr>
                <td>{{ customer_address.id }}</td>
                <td>{{ customer_address.street }}</td>
                <td>{{ customer_address.city }}</td>
                <td>{{ customer_address.state }}</td>
                <td>{{ customer_address.zip }}</td>
                <td>{{ customer_address.customer_id }}</td>
            </tr>
        </div>
    </tbody>
    </table>
</div>


<!-- Update customer form -->
<div class = "row">
<div class = "column">
        <form action="{{ url_for('customer.edit', Id=customer.id) }}" method="POST">
        <h3>Update a Customer</h3>
            {{ form.hidden_tag() }}
            <p>
                {{ form.street.label }}<br>
                {{ form.street(size=32) }}<br>
                {% for error in form.street.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.city.label }}<br>
                {{ form.city(size=32) }}<br>
                {% for error in form.city.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.state.label }}<br>
                {{ form.state(size=32) }}<br>
                {% for error in form.state.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.zip.label }}<br>
                {{ form.zip(size=32) }}<br>
                {% for error in form.zip.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
        {# {{ wtf.quick_form(form) }} #}
</div> <!-- End of update Customer Column -->
</div> <!-- End of Row -->

{% endblock %}