{% extends 'base.html.j2' %}


{% block content %}
<div class="container text-center">
    <span class="title"><h1>{% block title %} The {{ customer.name }} Detail Page {% endblock %}</h1></span>
</div>

    {% include "customer/_customer_navbar.html.j2" %}


<div class="container-md text-center">
    <div class="row fs-3 fw-bold">
        <div class="col-sm-6">Name & Address</div>
        <div class="col-sm-6">Contact</div>
    </div>
    <div class="row">
        <div class="col-sm fw-bold">Name</div>
        <div class="col-sm text-start">{{ customer.name }}</div>
        <div class="col-sm fw-bold">Phone</div>
        <div class="col-sm text-start">{{ customer.phone_numbers[0].phone_number }}</div>
    </div>
    <div class="row">
        <div class="col-sm fw-bold">Street</div>
        <div class="col-sm text-start">{{ customer.addresses[0].street }}</div>
        <div class="col-sm fw-bold">Email</div>
        <div class="col-sm text-start">{{ customer.emails[0].email }}</div>
    </div>
    <div class="row">
        <div class="col-sm fw-bold">City</div>
        <div class="col-sm text-start">{{ customer.addresses[0].city }}</div>
        <div class="col-sm fw-bold"></div>
        <div class="col-sm"></div>
    </div>
    <div class="row">
        <div class="col-sm fw-bold">State</div>
        <div class="col-sm text-start">{{ customer.addresses[0].state }}</div>
        <div class="col-sm"></div>
        <div class="col-sm"></div>
    </div>
    <div class="row">
        <div class="col-sm fw-bold">Zip</div>
        <div class="col-sm text-start">{{ customer.addresses[0].zip }}</div>
        <div class="col-sm"></div>
        <div class="col-sm"></div>
    </div>
</div>

<div class="container text-center">
    <a href="{{ url_for('customer.edit', Id=customer.id) }}" class="btn btn-primary">Edit</a>
</div>


{% endblock %}