{% extends 'base.html.j2' %}


{% block content %}

<div class="container text-center">
    <span class="title"><h1>{% block title %} The Customer Page {% endblock %}</h1></span>
</div>

<div class="col-md-4 mb-3">
    <a href="{{ url_for('customer.add_customer')}}">
        <button type="button" class="btn btn-primary">New Customer</button>
    </a>
</div>




<div class="col mb-3">
    <strong>Searching for: {{tag}} </strong>
</div>


<form action="" method="POST" class="row mb-3">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <div class="col-sm-4 mb-3">
    <div class="input-group">
      <input type="text" class="form-control" name="tag" id="tag" placeholder="Search By Name">
    </div>
  </div>

  <div class="col-sm-2 mb-3">
    <button type="submit" class="btn btn-primary">Submit Search</button>
  </div>
</form>



<div class="content">
    <table id= "customer-table" class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers.items %}
                <tr>
                    <td>{{ customer.id }}</td>
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.addresses[0].street }}</td>
                    <td>{{ customer.addresses[0].city }}</td>
                    <td>{{ customer.addresses[0].state }}</td>
                    <td>{{ customer.addresses[0].zip }}</td>
                    <td><a href="{{ url_for('customer.detail', Id=customer.id)}}"><button type="button" class="btn btn-primary">View</button></a></td>
                    <td><form method="POST" action="{{ url_for('customer.delete_customer', Id=customer.id) }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this customer?')"></form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<ul class="pagination justify-content-center">
    {% if customers.has_prev %}
        <li class="page-item"><a class="page-link" href="{{ url_for('customer.index', page=customers.prev_num) }}">Previous</a></li>
    {% else %}
        <li class="page-item"><a class="page-link btn disabled" href="#">Previous</a></li>
    {% endif %}

    {% for page in customers.iter_pages(left_edge=3, right_edge=3) %}
        {% if page %}
            {% if page==customers.page %}
                <li class="page-item active"><a class="page-link" href="{{ url_for('customer.index', page=page, tag=tag)}}"> {{ page }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="{{ url_for('customer.index', page=page, tag=tag)}}"> {{ page }}</a></li>
            {% endif %}

        {% else %}
            <li class="page-item disabled" id="example_ellipsis"><a href="#" class="page-link"> ...</a></li>
        {% endif %}
    {% endfor %}

    {% if customers.has_next %}
        <li class="page-item"><a class="page-link" href="{{ url_for('customer.index', page=customers.next_num) }}">Next</a></li>
    {% else %}
        <li class="page-item"><a class="page-link btn disabled" href="#">Next</a></li>
    {% endif %}
</ul>


{% endblock %}