{% from "macros.html.j2" import render_field %}


<div class="modal-header">
    <h1 class="modal-title" id="modalLabel">New Customer</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<form action="" method="POST" class="needs-validation" id="newCustomerModalForm" novalidate>
    <div class="modal-body mt-3">

        {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ render_field(form.name)}}
        </div>

        <div class="mb-3">
            {{ render_field(form.street)}}
        </div>

        <div class="mb-3">
            {{ render_field(form.city)}}
        </div>

        <div class="mb-3">
            {{ render_field(form.state, class="form-select")}}
        </div>

        <div class="mb-3">
            {{ render_field(form.zip)}}
        </div>

        <div class="mb-3">
            {{ render_field(form.phone_number, maxlength="13")}}
        </div>

        <div class="mb-4">
            {{ render_field(form.email)}}
        </div>

        <div class="d-grid gap-2 mb-3">
            {{ form.submit(class="btn btn-primary") }}    
        </div>

        <div class="d-grid gap-2 mb-3">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div> 

    </div>
</form>

<!-- Page specific Javascripts -->
{% block extra_js %}
    <script src="{{ url_for('static', filename='assets/js/inputValidation.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
{% endblock extra_js %}