{% block navbar %}

<header class="header-global navbar-header">
  <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg shadow mb-4">
    <div class="container-fluid position-relative">
      <a class="navbar-brand me-md-5" href="{{ url_for('home.index') }}">
        Kill-A-Watt Electrical Inc.
      </a>
      <!-- Hamburger button -->
      <button class="navbar-toggler ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_global"
        aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbar_global">
        <ul class="navbar-nav me-auto align-items-md-left">
          <li class="nav-item me-2">
            <a href="{{ url_for('customer.index') }}" class="nav-link" id="customersNavLink">
              Customers
            </a>
          </li>
          <li class="nav-item me-2">
            <a href="#" class="nav-link" id="reportsNavLink">
              Reports
            </a>
          </li>
          {% if current_user.is_authenticated and current_user.security_permissions == "Admin" %}
          <li class="nav-item me-2">
            <a href="{{ url_for('admin.index') }}" class="nav-link" id="adminNavLink">
              Admin
            </a>
          </li>
          {% endif %}
        </ul>
        <!-- "Right" side of navbar -->
        <ul class="navbar-nav align-items-md-left justify-content-end">
        <div class="align-items-center">

            {% if current_user.is_authenticated %}
            <div class="nav-item d-none d-lg-inline pe-1">
              {{ 'Logged in as: %s' % current_user.username.replace(current_user.username,"<b>{}</b>"
                    .format(current_user.username)) |safe }}
            </div>
            <a class="nav-link nav-item d-lg-inline px-lg-1"
              href="{{ url_for('user_profile.user', username=current_user.username) }}">Profile</a>
            <a class="nav-link nav-item d-lg-inline px-lg-1" href="{{ url_for('auth.logout') }}">Log Out</a>
            {% else %}
            <a class="nav-link nav-item d-lg-inline px-lg-1" href="{{ url_for('auth.register') }}">Register</a>
            <a class="nav-link nav-item d-lg-inline px-lg-1" href="{{ url_for('auth.login') }}">Log In</a>
            {% endif %}

            <!-- Theme icon dropdown to switch light and dark mode -->
            <div class="d-lg-inline nav-item text-decoration-none ps-lg-1 dropdown color-modes">
              <button
                class="btn btn-link bi bi-sun nav-item nav-link d-lg-inline ps-lg-1 dropdown-toggle d-flex align-items-center"
                id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static">
              </button>
              <ul class="dropdown-menu dropdown-menu-end p-1 mt-2" aria-labelledby="bd-theme"
                style="--bs-dropdown-min-width: 8rem;">
                <li>
                  <button type="button" class="bi bi-sun dropdown-item d-flex align-items-center"
                    data-bs-theme-value="light">
                    <div class="ms-2">
                      Light
                    </div>
                  </button>
                </li>
                <li>
                  <button type="button" class="bi bi-moon dropdown-item d-flex align-items-center"
                    data-bs-theme-value="dark">
                    <div class="ms-2">
                      Dark
                    </div>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </nav>
</header>

{% endblock %}
