{% block navbar %}

<nav class="navbar navbar-expand-lg navbar-light bg-light shadow mb-4">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('home.index') }}">Kill-A-Watt Electrical Inc.</a>
    </div>
      <ul class="navbar-nav me-2">
        <li class="nav-item"><a class="nav-link" href="{{ url_for('customer.index') }}">Customers</a>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
          <li class="nav-item nav-link">
            <span class="navbar-brand me-auto">
              <p class="fs-6">
                {{ 'Logged in as: %s' % username.replace(current_user.username,"<b>{}</b>".format(current_user.username)) | safe }}
              </p>
            </span>
            
          <li class="nav-item"><a class="nav-link" href="{{ url_for('user_profile.user', username=current_user.username) }}">Profile</a>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a>
        {% else %}
          <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">Log In</a>
        {% endif %}
      </ul>
  </div>
</nav>

{% endblock %}