{% from "includes/macros.html.j2" import render_flash_message %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

  <head>
    <!-- Title, Meta Tags, Stylesheets, Icons, Scripts to load prior to HTML/CSS -->
    {% include "includes/head.html" %}
  </head>

  <body>

    <div class="mainParentContent">
      <div class="innerParentContent">

        {% include "includes/_navbar.html.j2" %}

        <main class="container">
          {{ render_flash_message() }}

          {% block content %}
          {% endblock %}
        </main>

      </div>
    </div>

    {% include "includes/scripts.html" %}

    <!-- Page specific Javascript to load at the end of the body -->
    {% block extra_js %}{% endblock extra_js %}

  </body>
    {% include "includes/footer.html" %}
</html>
