<!doctype html>
<title>{% block title %}{% endblock %} - Kill-A-Watt Electrical Inc.</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Kill-A-Watt Electrical Inc.</h1>
  <a href="{{ url_for('home.index') }}">Home</a>
 
  <ul>
   <li><a href="{{ url_for('customer.index') }}">Customers</a>

    {% if current_user.is_authenticated %}
      <li><span>Logged in as: <b>{{ current_user.username }}</b></span>
      <li><a href="{{ url_for('user_profile.user', username=current_user.username) }}">Profile</a>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>

<section class="content">
  <header>
  {% block header %}{% endblock %}
  </header>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
  {% block content %}{% endblock %}
</section>
