{% macro render_field(field) %}

<div class="row mb-3">
    <label for="{{ field.name }}" class="col-sm-4 col-form-label">{{ field.label.text }} </label>
    <div class="col-sm-8">
        {{ field(class="form-control", **kwargs)|safe }}
        <div class="invalid-feedback">
            Please provide a valid {{field.name}}.
        </div>
    </div>
</div>

{% endmacro%}