{% macro render_field(field) %}
<div class="row mb-3">
    <label for="{{ field.name }}" class="col-sm-4 col-form-label">{{ field.label.text }} </label>
    <div class="col-sm-8">
        {{ field(class="form-control", **kwargs)|safe }}
        <div class="invalid-feedback">
            Please provide a valid {{field.name}}.
        </div>
    </div>
</div>
{% endmacro%}


{# Render flash() messages to top of page #}
{% macro render_flash_message() %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-primary alert-dismissible text-center fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endmacro %}