{% extends 'base.html.j2' %}


{% block content %}

<div class="container text-center mb-5 mt-5">
    <span class="title"><h1>{% block title %} <img src="static/Logo.jpg" alt="Logo" /> {% endblock %}</h1></span>
</div>

<div class="container text-center">
    <a href="{{ url_for('customer.index') }}" class="btn btn-primary">Search Customers</a>
</div>

{% endblock %}

