{% extends "base.html.j2" %}

{% block content %}
  <p>&nbsp;</p>
  <h1 class="title">
    Welcome, {{username}}! This is your profile page.
  </h1>

    <p>&nbsp;</p>
    <h3>Go to <a href="{{ url_for('home.index') }}">Home</a></h3>
{% endblock %}